.guide-container {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  top: 100px;
}
.first-display {
  width: 35%;
  height: 100%;
}
.second-display{
  width: 65%;
  height: 100%;
  z-index: -99;
}
.first-display{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  z-index: 99;
  margin-left: 10%;
}
.background-wrap {
  width: 85%;
  height: 95%;
  background: url("img/back01.JPG") center center no-repeat;
  background-size: cover;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
  float: left;
}
.first-display__tit {
  font-size: 4rem;
  margin: 8rem 0 2rem;
}
.first-display_text,.first-display_notion  {
  color: gray;
  font-size: 1.2rem;
  margin: 2rem 0;
}
.first-display_links {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
}
.first-display_links a {
  width: 49%;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  background: black;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
.first-display_links a:nth-child(2) {
  color: black;
  background: #fff;
  border: 1px solid black;
}

@media screen and (max-width: 1023px) {
  .guide-container {
    flex-direction: column;
  }
  .background-wrap {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0;
  }
  .first-display {
    width: 100%;
    height: 90%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
  }
  .first-display_contents {
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem 2rem 0;
    color: #fff;
  }
  .first-display_text,.first-display_notion  {
    color: #fff;
  }
  .first-display__tit {
    font-size: 3rem;
    margin: 0;
    margin-top: 1rem;
  }
  .first-display_links {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .first-display_links a {
    width: 50%;
    border-radius: 0;
  }
  .first-display_links a:nth-child(2) {
    border: none;
  }
}

/* 아이폰 SE  */
@media screen and (max-width: 380px) {
  .first-display__tit {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 1rem;
  }
  .first-display_text,.first-display_notion {
    font-size: 1rem;
  }
}