.nav-container {
  padding: 1rem 12rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}
.nav-logo a h3 {
  font-size: 2rem;
}
.nav-lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-item {
  margin-right: 3rem;
}
.list-item a {
  color: rgb(185, 185, 185);
  font-size: 1.1rem;
}
.list-item:nth-child(4) a {
  color: #fff;
  background: black;
  padding: .5rem 1rem;
  border-radius: 2px;
  margin-right: 0;
  margin: 0;
}
.cur-link a:not(.list-item:nth-child(4) a) {
  font-weight: bold;
  color: black;
  border-bottom: 3px solid black;
  padding-bottom: .2rem;
}
.mobile-menu {
  display: none;
}

@media screen and (max-width: 1023px) {
  .nav-container {
    padding: 1rem;
  }
  .nav-logo a h3 {
    color: #fff;
    font-size: 2rem;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background: #fff;
    outline: none;
    z-index: 9999;
    border-radius: 50%;
  }
  .mobile-menu .bar, .mobile-menu::after, .mobile-menu::before {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 3px 0px;
    transition: .8s;
  }
  .mobile-menu:hover .bar{
    width: 20%;
  }
  .mobile-menu.is-active::before {
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  .mobile-menu.is-active::after {
    transform: rotate(45deg) translate(-8px, -7px);
  }
  .mobile-menu.is-active .bar {
    opacity: 0;
  }
  .nav-lists {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
  }
  .list-item:nth-child(4) a {
    background: none;
    padding: 0;
  }
  .list-item {
    margin-right: 0;
  }
  .nav-lists.is-active {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    transition: .6s;
    z-index: 999;
    background: rgba(43, 43, 43, 0.8);
    padding: 0 1rem;
  }
  .nav-lists.is-active .list-item {
    display: block;
    width: 100%;
    line-height: 50px;
    padding: 0rem 1.5rem;
    margin: 0;
    margin-bottom: 1rem;
    border-radius: 3px;
  }
  .nav-lists.is-active .list-item a {
    display: block;
    color: #fff;
  }
  .nav-lists.is-active .list-item.cur-link {
    border: 1px solid #fff;
  }
  .nav-lists.is-active .list-item.cur-link a {
    color: #fff;
    border: none;
    padding: 0;
    border-bottom: none;
  }
  .nav-lists.is-active .list-item:nth-child(4) {
    margin-top: 50px;
    background: #fff;
  }
  .nav-lists.is-active .list-item:nth-child(4) a {
    color: black;
    line-height: 50px;
  }
}

/* ------------ back to top ------------ */
.backToTop {
  display: none;
}
.backToTop.show {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 999;
}

@media screen and (max-width: 1023px) {
  .backToTop.show {
    left: 46%;
    bottom: 1rem;
  }
}

